package grpc

// This file registers a JSON codec under the name "proto" so the gRPC server
// can run without proto-generated code for this sample.
//
// To switch to real protobuf:
//  1. Delete this file.
//  2. Add a proto/account.proto definition (see proto/account.proto).
//  3. Run: buf generate   (or: protoc --go_out=. --go-grpc_out=. proto/account.proto)
//  4. Replace the types in account.go with the generated *pb types.

import (
	"encoding/json"

	"google.golang.org/grpc/encoding"
)

func init() {
	encoding.RegisterCodec(jsonCodec{})
}

type jsonCodec struct{}

func (jsonCodec) Marshal(v any) ([]byte, error)      { return json.Marshal(v) }
func (jsonCodec) Unmarshal(data []byte, v any) error { return json.Unmarshal(data, v) }
func (jsonCodec) Name() string                        { return "proto" }
