package grpc

import (
	"context"

	"github.com/tlmanz/catalyst/v3/domain/entities"
	"github.com/tlmanz/catalyst/v3/domain/usecases"
	"github.com/tlmanz/catalyst/v3/infra"
)

type accountService struct {
	accounts *usecases.AccountUseCases
}

func newAccountService(ctr *infra.Container) AccountServiceServer {
	return &accountService{
		accounts: usecases.NewAccountUseCases(ctr),
	}
}

func (s *accountService) GetAccounts(ctx context.Context, _ *GetAccountsRequest) (*AccountListResponse, error) {
	result, err := s.accounts.GetAccounts(ctx, map[string]any{}, map[string]uint32{"page": 1, "size": 10})
	if err != nil {
		return nil, err
	}

	resp := &AccountListResponse{}
	for _, a := range result {
		resp.Accounts = append(resp.Accounts, AccountResponse{
			ID:       a.ID,
			Owner:    a.Owner,
			Currency: a.Currency,
			Balance:  a.Balance,
		})
	}
	return resp, nil
}

func (s *accountService) CreateAccount(ctx context.Context, req *CreateAccountRequest) (*AccountResponse, error) {
	a, err := s.accounts.CreateAccount(ctx, entities.Account{
		Owner:    req.Owner,
		Currency: req.Currency,
		Balance:  req.Balance,
	})
	if err != nil {
		return nil, err
	}
	return &AccountResponse{
		ID:       a.ID,
		Owner:    a.Owner,
		Currency: a.Currency,
		Balance:  a.Balance,
	}, nil
}
