package main

import (
	"github.com/kosatnkn/catalyst-pkgs/config"
	"github.com/tlmanz/catalyst/v3/infra"
	"github.com/tlmanz/catalyst/v3/metadata"
)

func newConfig() (infra.Config, error) {
	settings := config.Settings{
		Dir:    ".",
		Prefix: "CATALYST",
		Defaults: map[string]any{
			"app.name":        metadata.Name(),
			"app.mode":        "DEBUG",
			"app.timezone":    "UTC",
			"rest.enabled":    true,
			"rest.port":       8000,
			"rest.wait":       "5s",
			"rest.release":    false,
			"graphql.enabled": false,
			"graphql.port":    8001,
			"graphql.wait":    "5s",
			"grpc.enabled":    false,
			"grpc.port":       8002,
			"ws.enabled":      false,
			"ws.port":         8003,
			"ws.wait":         "5s",
			"metrics.enabled": false,
			"metrics.port":    9090,
			"log.level":       "INFO",
		},
	}

	c, err := config.Parse(infra.Config{}, settings)
	if err != nil {
		return infra.Config{}, err
	}

	return c.(infra.Config), nil
}
